.Tabs {
    position: relative;
    display: inline-block;
    margin-bottom: 3px;
}

.Tabs__button {
    display:inline-block;
    padding: 10px;
    background: #eeeeee;
    color: black;
    cursor: pointer;
}

.Tabs__button:hover, .Tabs__button--active {
    background: grey;
    color: white;
}

.Tabs__select {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-bottom: 3px solid mediumslateblue;
}